<style type="text/css">
    .root{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 20px;
        margin-top:50px;
    }
    .myframe{
         width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius:10px;
    }
    .gap{
    margin-top: 30px;
    }
    .btnstyle{
    display: flex;justify-content:center;align-items:center;
    }
    
    </style>
    <!DOCTYPE html>
    <html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/javascript/Subcategory.js"></script>
    <head>
        <meta charset="UTF-8">
        <title>Material Management[Products]</title>
    </head>
    <body style="background:transparent;">
    <form action="/showcomparison" >
        <div class="root">
            <div class="myframe">
            <div class="row" style="display: flex;align-items: center;font-size:15px;padding-left:15px;margin-bottom:10px;letter-spacing:2px;font-weight:bold;">
            Product
            </div>
                <div class="row">
            <div class="col">
                <select name="categoryid" id="categoryid" class="form-control">
                    <option>-Select Category-</option>
                </select>
            </div>
        </div>
                <div class="row gap">
            <div class="col">
                <select name="subcategoryid1" id="subcategoryid1" class="form-control" >
                    <option>-Select Subcategory1-</option>
                </select>
            </div>
            <div class="col">
                <select name="productid1" id="productid1" class="form-control" >
                    <option>-Select Product1-</option>
                </select>
            </div>
        </div>
        <div class="row gap">
            <div class="col">
                <select name="subcategoryid2" id="subcategoryid2" class="form-control" >
                    <option>-Select Subcategory2-</option>
                </select>
            </div>
            <div class="col">
                <select name="productid2" id="productid2" class="form-control" >
                    <option>-Select Product2-</option>
                </select>
            </div>
        </div>

                <div class="row gap">
            <div class="col btnstyle">
                <button type="submit" class="btn btn-primary w-100">Compare</button>
            </div>
            <div class="col btnstyle">
                <button type="reset" class="btn btn-primary w-100">Reset</button>
            </div>
            </div>
            </div>
        </div>
    </form>
    </body>
    </html>
<script>    
    $(document).ready(function () {

        $.getJSON("/getcategoriesjson", { ajax: true }, function (data) {
    
            $.each(data, function (index, item) {
                $('#categoryid').append($('<option>').text(item[1]).val(item[0]))
            })
    
        })
    
        $('#categoryid').change(function () {
            $('#subcategoryid1').empty()
            $('#subcategoryid2').empty()
            $.getJSON("/getsubcategoriesjson", { ajax: true, categoryid: $('#categoryid').val() }, function (data) {
                $('#subcategoryid1').append($('<option>').text('-Select SubCategory1-'))
                $.each(data, function (index, item) {
                    $('#subcategoryid1').append($('<option>').text(item[2]).val(item[1]))
                })
    
            })
            $.getJSON("/getsubcategoriesjson", { ajax: true, categoryid: $('#categoryid').val() }, function (data) {
                $('#subcategoryid2').append($('<option>').text('-Select SubCategory2-'))
                $.each(data, function (index, item) {
                    $('#subcategoryid2').append($('<option>').text(item[2]).val(item[1]))
                })
    
            })
    
        })
    
        $('#subcategoryid1').change(function () {
            $('#productid1').empty()
            $.getJSON("/getproductjson", { ajax: true, subcategoryid: $('#subcategoryid1').val() }, function (data) {
                $('#productid1').append($('<option>').text('-Select Product1-'))
                $.each(data, function (index, item) {
                    $('#productid1').append($('<option>').text(item[3]).val(item[2]))
                })
    
            })
    
        })
        $('#subcategoryid2').change(function () {
            $('#productid2').empty()
            $.getJSON("/getproductjson", { ajax: true, subcategoryid: $('#subcategoryid2').val() }, function (data) {
                $('#productid2').append($('<option>').text('-Select Product2-'))
                $.each(data, function (index, item) {
                    $('#productid2').append($('<option>').text(item[3]).val(item[2]))
                })
    
            })
    
        })
    })    

</script>    